@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/*Paleta de Colores:
header y footer:  #a75980
Texto: blanco 
Otros textos: rgba(0, 0, 0, 0.678)
Fondo de texto articulo: #a14e777a
*/

/*Fonts:
Texto del main: font-family:Georgia, 'Times New Roman', Times, serif;
Menu de navegacion y footer: font-family: 'Poppins', sans-serif;
Titulos: font-family: 'Merriweather', serif;
*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*HEADER*/

header{
   background-color: #a75980;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.imagenLogo img{
  width: 200px;
  height: 80px;
  padding: 4px;
  padding-top: 10px;
}

.header__listaMenu--link{
  padding: 1.7rem;
  color: white;
}

.header__listaMenu{
  list-style: none;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
}

.header__listaMenu a, a:hover{
  text-decoration: none;
  color: white;
}

/*MOBILE LAST PARA HEADER*/

/*Media Query = dispositivos medianos y chicos*/

@media (max-width: 768px){
  header{
   background-color: #a75980;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: white;
 }
 .header__listaMenu{
  list-style: none;
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
}

.header__listaMenu--link{
  padding: 0.7rem;
  color: white;
}
}

/*--------------------------MENU--------------------------*/

main{
  background-image: url(../recursos/libros-y-flores.jpg);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  color: white;
}

/*--------------------------FOOTER--------------------------*/

footer{

  background-color: #a75980;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__copyright, .footer__texto{
  padding: 2%;
  text-align: center;
}


/*FORMULARIO DE CONTACTO*/

form {
  font-family: 'Poppins', sans-serif;
  padding: 2%;
}

input, textarea {
  width:250px;
  height:27px;
  background-color:#2c282a80;
  border:1px solid #f6f6f6;
  padding:5px;
  margin-top:5px;
  font-size:15px;
  color:white;
  font-family: 'Poppins', sans-serif;
}

textarea {
  height:70px;
}

#submit {
  width:85px;
  height:35px;
  border:none;
  margin-top:20px;
  cursor:pointer;
}


/*--------------------------INDEX--------------------------*/


/*GRID AREA*/

.grid-padre {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.7fr;
  grid-auto-flow: row;
  grid-template-areas:
    ". titulo-OW ."
    "slider bio-OW bio-OW";
}

/*OSCAR WILDE BIOGRAFIA Y FOTOS*/

.titulo-OW { 
  grid-area: titulo-OW;
  padding: 10px;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 40px;
  align-self: center;
 }

 .bio-OW { 
  grid-area: bio-OW;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .bio-OW p{
  background-color: #a14e777a;
  padding: 10px;
  margin: 10px;
 }

.slider { 
  grid-area: slider;
  width: 400px;
  height: 400px;
  margin: 10px;
  overflow: hidden;
  border: solid 4px black;
 }


.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;

}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;

}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/*MOBILE LAST*/

/*Media Query = dispositivos medianos y chicos*/

@media (max-width: 768px){

  .grid-padre {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.3fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo-OW"
      "slider" 
      "bio-OW";
      justify-items:center;
  }

  .slider { 
    width: 300px;
    height: 300px;
   }
}

@media (max-width: 420px){
  .grid-padre {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.3fr 2.6fr;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo-OW"
      "slider" 
      "bio-OW";
      justify-items:center;
}}

/*-----------------------------LIBROS----------------------------------------*/
 
/*GRID AREA*/

.libros{  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "cuentos ensayos obras-de-teatro prosa-y-poemas";
  color: rgba(0, 0, 0, 0.678);
  animation-duration: 4s;
  animation-iteration-count: 1;
}

.libros ul{
  list-style: none;
  padding: 10px;
  font-size: 20px;
}

.libros ul li{
  padding: 5px;
}

.libros h2{
  padding: 10px;
  text-align: center;
}

.libros h3{
  padding: 10px;
}

/*CUENTOS*/
.cuentos { grid-area: cuentos;
background-image: url(../recursos/hoja.png);
background-size: auto auto;
margin: 20px;
}

/*ENSAYOS*/
.ensayos { grid-area: ensayos;
  background-image: url(../recursos/hoja.png);
  margin: 20px;
  background-size: auto auto;

 }

 /*OBRAS DE TEATRO*/
.obras-de-teatro { grid-area: obras-de-teatro;
  background-image: url(../recursos/hoja.png);
  background-size: auto auto;

  margin: 20px;  }

  /*PROSA Y POEMAS*/
.prosa-y-poemas { grid-area: prosa-y-poemas;
  background-image: url(../recursos/hoja.png);
  margin: 20px;
  background-size: auto auto;

 }


.titulo-libros{
  text-align: center;
  padding: 10px;
  font-family: 'Merriweather', serif;
}

/*MOBILE LAST*/

/*Media Query = dispositivos medianos y chicos*/

@media (max-width: 768px){

  .libros{  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 0.5fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "cuentos"
    "ensayos"
    "obras-de-teatro"
    "prosa-y-poemas";
    color: rgba(0, 0, 0, 0.678);
    animation-duration: 4s;
    animation-iteration-count: 1;
  }

  .cuentos { grid-area: cuentos;
    background-image: url(../recursos/hoja.png);
    background-size: auto auto;
    background-repeat: repeat;
    }
    
    .ensayos { grid-area: ensayos;
      background-image: url(../recursos/hoja.png);
      background-size: auto auto;
      background-repeat: repeat;
     }
    
    .obras-de-teatro { grid-area: obras-de-teatro;
      background-image: url(../recursos/hoja.png);
      background-size: auto auto;
      background-repeat: repeat;
    }
    
    .prosa-y-poemas { grid-area: prosa-y-poemas;
      background-image: url(../recursos/hoja.png);
      background-size: auto auto;
      background-repeat: repeat;
     }

}

/*-----------------------------ADAPTACIONES----------------------------------------*/

/*DISPLAY FLEX*/

.adaptaciones { 
  display: flex;
  padding: 20px;
  justify-content: center;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  flex-wrap: wrap;
}

/*VIDEOS*/

iframe{
  padding: 15px;
}

.titulo-adaptaciones{
  text-align: center;
  font-family: 'Merriweather', serif;
  padding-top: 15px;
}

.cine-obras, .cine-bio{
padding: 10px;
}

.cine-bio h2, .cine-obras h2{
  background-color: #a14e777a;
  padding: 10px;
}

.cine-bio h3, .cine-obras h3{
  background-color: #a14e777a;
  padding: 10px;
}



/*-----------------------------CURIOSIDADES----------------------------------------*/

/*GRID AREA*/

.curiosidades {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, 50px);
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "curio-1 titulo-curio"
    "curio-1 curio-2"
    "curio-3 curio-2"
    "curio-3 curio-4"
    "curio-5 curio-4"
    "curio-5 curio-6"
    "curio-7 curio-6"
    "curio-7 .";
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.678);
}

.curio-1 { grid-area: curio-1;
background-image: url(../recursos/papel-removebg-preview.png);
background-size: contain;
background-repeat: repeat-x;
padding: 10px;
animation-iteration-count: 1;
animation-delay: 0s;
}

.curio-2 { grid-area: curio-2;
  background-image: url(../recursos/papel-removebg-preview.png);
background-size: contain;
background-repeat: repeat-x;
padding: 10px;
animation-iteration-count: 1;
animation-delay: 2s;
 }

.curio-3 { grid-area: curio-3;
  background-image: url(../recursos/papel-removebg-preview.png);
  background-size: contain;
  background-repeat: repeat-x;
  padding: 10px;
  animation-iteration-count: 1;
  animation-delay: 4s;
   } 

.curio-4 { grid-area: curio-4;
  background-image: url(../recursos/papel-removebg-preview.png);
  background-size: contain;
  background-repeat: repeat-x;
  padding: 10px;
  animation-iteration-count: 1;
  animation-delay: 6s;
    }

.curio-5 { grid-area: curio-5;
  background-image: url(../recursos/papel-removebg-preview.png);
  background-size: contain;
  background-repeat: repeat-x;
  padding: 10px;
  animation-iteration-count: 1;
  animation-delay: 8s;
   }

.curio-6 { grid-area: curio-6;
  background-image: url(../recursos/papel-removebg-preview.png);
  background-size: contain;
  background-repeat: repeat-x;
  padding: 10px;
  animation-iteration-count: 1;
  animation-delay: 10s;
   }

.curio-7 { grid-area: curio-7;
  background-image: url(../recursos/papel-removebg-preview.png);
  background-size: contain;
  background-repeat: repeat-x;
  padding: 10px;
  animation-iteration-count: 1;
  animation-delay: 12s;
   }

.titulo-curio { grid-area: titulo-curio;
text-align: center;
font-family: 'Merriweather', serif;
color: white; }

/*MOBILE LAST*/

/*Media Query = dispositivos medianos y chicos*/

@media (max-width: 768px){
  .curiosidades {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(7, 1fr);
    grid-auto-flow: row;
    grid-template-areas:
      "titulo-curio"
      "curio-1"
      "curio-2"
      "curio-3"
      "curio-4"
      "curio-5"
      "curio-6"
      "curio-7";
      padding: 10px;
      font-family:Georgia, 'Times New Roman', Times, serif;
      color: rgba(0, 0, 0, 0.678);
  }
}

@media (max-width: 420px){
  
}

/*-----------------------------JUICIO----------------------------------------*/

.juicio{
  text-align: center;
}


.juicio p{
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #a14e777a;
  text-align: start;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.juicio__titulo{
  font-family: 'Merriweather', serif;
  font-size: 35px;
  text-align: center;
  padding: 10px;
}

.juicio__oscar-y-alfred{
  width: 350px;
  height: 550x;
  border: solid 4px black;
}

.juicio__nota{
  width: 400px;
  height: 200px;
  border: solid 4px black;
}

.juicio__periodico{
  width: 500px;
  height: 400px;
  border: solid 4px black;
  padding: 10px;
  background-color: white;
}

.juicio__carcel{
  width: 500px;
  height: 400px;
  border: solid 4px black;
  padding: 10px;
  background-color: white;
}

.juicio__libro{
  width: 350px;
  height: 500px;
  border: solid 4px black;
  padding: 10px;
  background-color: white;
}

@media (max-width: 768px){
  .juicio__carcel{
    width: 400px;
    height: 300px;
  }
  .juicio__periodico{
    width: 400px;
    height: 300px;
  }
  .juicio p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 420px){
  .juicio__carcel{
    width: 300px;
    height: 200px;
  }
  .juicio__periodico{
    width: 300px;
    height: 200px;
  }
  .juicio__nota{
    width: 300px;
    height: 100px;
  }

  .juicio__oscar-y-alfred{
    width: 250px;
    height: 450x;
  }

  
.juicio__libro{
  width: 250px;
  height: 350px;
}
}